
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e1e1;
}

.icons1{
    display: flex;
    align-items: center;
    gap: 20px;

}
.icons1 button {
    outline: none;
    border: none;
    background-color: white;
}
.icons1 img{
    display: block;
    margin: auto 0;
    width: 120px;
    height: 30px;
}

.hamburger-menu {
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.hover-element {
    position: relative;
}

.User-details {
    position: absolute;
    justify-content: center;
    right: -20px;
    top: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    background-color:  #e3e2e2;
    border-radius: 1px solid #ccc;
    border: none;
    border-radius: 4px;
    color: black;
}

.User-details :nth-child(1) {
    font-size: 0.9em;
    font-weight: 600;
}

.User-details :nth-child(2){
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
}

.user_icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    
}

.page_content {
    display: flex;
  
}
.sidebar {
    background-color: #102754;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s;
    max-width: 238px;
    
}
.icons2 {  
    font-size: 30px;
}

.link_text{
    font-size: 16px;
    font-weight: 500;
}

.link {
    margin-top: 0;
    display: flex;
    text-decoration: none;
    padding: 15px 10px 10px 5px;
    align-items: center;
    gap: 20px;
    transition: 0.5s all;
    color: #b0abab;
   
}

.link:hover {
    color: white;
    font-weight: bolder;
}

.page_content main {
    max-height: 100vh;
    background-color: #f9f9f9;
    flex: auto;
    overflow: auto;

}
.Name-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 15px 10px 10px 10px;
    color: white;
    margin-bottom: 60px;
    
}

.Name-icon :nth-child(1) {
    border-radius: 100%;
    font-weight: bold;
    padding: 15px;
    background-color: #453CC9;
    font-size: 18px;
}

.Name-icon :nth-child(2) {
    font-size: 0.9em;
    font-weight: 600;
}
